<nav>
  <div class="container">
    <h1 class="logo"><a href="/index.html">Raphael DIEZ PECOSTE</a></h1>
    <ul class="nav-links">
      <li><a href="/index.html#about">À propos</a></li>
      <li><a href="/index.html#skills">Compétences</a></li>
      <li><a href="/index.html#experience">Expérience</a></li>
      <li><a href="/index.html#education">Formation</a></li>
      <li><a href="/index.html#projects">Projets</a></li>
      <li><a href="/index.html#contact">Contact</a></li>
    </ul>
  </div>
        <!-- Liens de contact -->
    <div class="contact-nav">
        <a href="https://github.com/RaphaelDP" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/raphael-diezpecoste" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
        <a href="https://gitlab.com/RaphaelDP" target="_blank" title="GitLab"><i class="fab fa-gitlab"></i></a>
        <a href="mailto:raphael.diezpecoste.pro@gmail.com" title="Email"><i class="fas fa-envelope"></i></a>
    </div>
</div>
</nav>
